{
  "openapi": "3.0.1",
  "info" : {
    "title": "Clever Cloud API",
    "description": "Use this API to manipulate your Clever Cloud services.",
    "version" : "4.0.0"
  },
  "servers": [
    {
      "url": "https://api.clever-cloud.com/v4",
      "description": "The production API server (v4)"
    }
  ],
  "paths": {
    "/products/zones": {
      "get": {
        "tags": ["products"],
        "summary": "List Zones",
        "operationId": "listZones",
        "x-service": "product",
        "x-function": "getAllZones",
        "responses": {
          "200": { "$ref": "#/components/responses/ArrayOfZoneDetails" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ZoneDetails": {
        "title": "Zone Details",
        "required": [
          "city",
          "country",
          "countryCode",
          "id",
          "lat",
          "lon",
          "name",
          "tags"
        ],
        "type": "object",
        "properties": {
          "city": {
            "description": "The city in which the datacenter is.",
            "type": "string"
          },
          "country": {
            "description": "The country in which the datacenter is.",
            "type": "string"
          },
          "countryCode": {
            "description": "The country code in [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format.",
            "type": "string"
          },
          "id": {
            "description": "The zone `id`.",
            "type": "string"
          },
          "lat": {
            "description": "The datacenter latitude.",
            "type": "number"
          },
          "lon": {
            "description": "The datacenter longitude.",
            "type": "number"
          },
          "name": {
            "description": "The zone name.",
            "type": "string"
          },
          "tags": {
            "description": "Tags associated to the zone.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "displayName": {
            "description": "The zone display name.",
            "type": "string"
          }
        },
        "example": { "$ref": "#/components/examples/Zone" }
      }
    },
    "responses": {
      "ArrayOfZoneDetails": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": { "$ref": "#/components/schemas/ZoneDetails" }
            }
          }
        }
      }
    },
    "examples": {
      "Zone": {
        "summary": "Example zone",
        "value": {
          "city": "Singapore",
          "country": "Singapore",
          "countryCode": "SG",
          "id": "3b9a58f4-bab4-439b-8662-e200d9805dba",
          "lat": 1.3143,
          "lon": 103.7038,
          "name": "sgp",
          "tags": [
            "for:applications",
            "infra:ovh"
          ]
        }
      }
    }
  },
  "tags": [
    {
      "name": "products",
      "description": "Products"
    }
  ]
}
