name: E2E tests
on:
  pull_request:
    types: [labeled, unlabeled, opened, synchronize, reopened]
    paths-ignore:
      - '**/*.md'
    branches-ignore:
      - 'release-please--**'

concurrency:
  group: preview-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'run-e2e-tests')

    steps:
      - name: '[Prepare] Checkout'
        uses: actions/checkout@v4
      - name: '[Prepare] Setup Node.js'
        uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
          cache: 'npm'
      - name: '[Prepare] Install dependencies'
        run: npm ci

      - name: '[E2E tests] Browser tests'
        env:
          # consumer console
          OAUTH_CONSUMER_KEY: ${{ secrets.OAUTH_CONSUMER_KEY }}
          OAUTH_CONSUMER_SECRET: ${{ secrets.OAUTH_CONSUMER_SECRET }}
          # ci account (linked to github)
          TEST_USER_WITH_GITHUB_API_TOKEN: ${{ secrets.TEST_USER_WITH_GITHUB_API_TOKEN }}
          TEST_USER_WITH_GITHUB_OAUTH_TOKEN: ${{ secrets.TEST_USER_WITH_GITHUB_OAUTH_TOKEN }}
          TEST_USER_WITH_GITHUB_OAUTH_SECRET: ${{ secrets.TEST_USER_WITH_GITHUB_OAUTH_SECRET }}
          TEST_USER_WITH_GITHUB_EMAIL: ${{ secrets.TEST_USER_WITH_GITHUB_EMAIL }}
          TEST_USER_WITH_GITHUB_PASSWORD: ${{ secrets.TEST_USER_WITH_GITHUB_PASSWORD }}
          # ci account (not linked to github)
          TEST_USER_WITHOUT_GITHUB_API_TOKEN: ${{ secrets.TEST_USER_WITHOUT_GITHUB_API_TOKEN }}
          TEST_USER_WITHOUT_GITHUB_OAUTH_TOKEN: ${{ secrets.TEST_USER_WITHOUT_GITHUB_OAUTH_TOKEN }}
          TEST_USER_WITHOUT_GITHUB_OAUTH_SECRET: ${{ secrets.TEST_USER_WITHOUT_GITHUB_OAUTH_SECRET }}
        run: npm run test:e2e:browser
      - name: '[E2E tests] Node tests'
        env:
          # consumer console
          OAUTH_CONSUMER_KEY: ${{ secrets.OAUTH_CONSUMER_KEY }}
          OAUTH_CONSUMER_SECRET: ${{ secrets.OAUTH_CONSUMER_SECRET }}
          # ci account (linked to github)
          TEST_USER_WITH_GITHUB_API_TOKEN: ${{ secrets.TEST_USER_WITH_GITHUB_API_TOKEN }}
          TEST_USER_WITH_GITHUB_OAUTH_TOKEN: ${{ secrets.TEST_USER_WITH_GITHUB_OAUTH_TOKEN }}
          TEST_USER_WITH_GITHUB_OAUTH_SECRET: ${{ secrets.TEST_USER_WITH_GITHUB_OAUTH_SECRET }}
          TEST_USER_WITH_GITHUB_EMAIL: ${{ secrets.TEST_USER_WITH_GITHUB_EMAIL }}
          TEST_USER_WITH_GITHUB_PASSWORD: ${{ secrets.TEST_USER_WITH_GITHUB_PASSWORD }}
          # ci account (not linked to github)
          TEST_USER_WITHOUT_GITHUB_API_TOKEN: ${{ secrets.TEST_USER_WITHOUT_GITHUB_API_TOKEN }}
          TEST_USER_WITHOUT_GITHUB_OAUTH_TOKEN: ${{ secrets.TEST_USER_WITHOUT_GITHUB_OAUTH_TOKEN }}
          TEST_USER_WITHOUT_GITHUB_OAUTH_SECRET: ${{ secrets.TEST_USER_WITHOUT_GITHUB_OAUTH_SECRET }}
        run: npm run test:e2e:node
